# Python cache
__pycache__/
*.py[cod]

# Database
api/data.db

# Env variables
.env

# Virtual environment
.venv/

# Logs and temp files
*.log
*.tmp

# Secrets
secrets.yaml

# Config
config.yaml

# Codes
codes.txt

# npm debug files
npm-debug.log*

# React build directory
/build/

# Node.js dependencies
node_modules/